body {
  min-height: 100vh;
  background-color: #f7f7f7;
}

.header-section {
  background-color: #f7f7f7;
}

.uk-logo {
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #333 !important;
}

.inactive-navbar-link {
  color: #666 !important;
}

.uk-navbar-nav > li.uk-active > a {
  color: #999 !important;
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.about-me-intro {
  width: 60vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding:0;
}

.about-me-body {
  width: 60vw;
  font-family: "Roboto", sans-serif;
}

.index-links {
  color: #BF0A31;
  text-decoration: none;
}

.index-links:hover {
  color: #999;
  text-decoration: none;
}

#portfolio-section {
  margin-top: 300px;
  padding-bottom: 300px;
}

.portfolio-links:hover {
  color: #BF0A31;
  text-decoration: none;
  
}

.uk-card {
  box-shadow: none;
}

#contact-section {
  padding-bottom: 250px;
}

.uk-button:hover {
  color: #BF0A31;
}
