body {
  min-height: 100vh;
  background-color: #f7f7f7;
}

#portfolio-navbar {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #f7f7f7;
}

.uk-logo {
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #333 !important;
}

.inactive-navbar-link {
  color: #666 !important;
}

.uk-navbar-nav > li.uk-active > a {
  color: #999 !important;
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.about-me-intro {
  width: 60vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding:0;
}

.about-me-body {
  width: 60vw;
  font-family: "Roboto", sans-serif;
}

.portfolio-section {
  margin-top: 300px;
  padding-bottom: 300px;
}

#hangman-game {
  background-image: url("../images/placeholder-1.png");
  background-size: 150%;
  height: 200px;
}

#crystal-game {
  background-image: url("../images/placeholder-2.png");
  background-size: 100%;
  height: 230px;
}

#trivia-game {
  background-image: url("../images/placeholder-3.png");
  background-size: 100%;
  height: 400px;
}

#giphy-search {
  background-image: url("../images/placeholder-4.png");
  background-size: 100%;
  height: 450px;
}

#happy-hour {
  background-image: url("../images/placeholder-5.png");
  background-size: 100%;
  height: 240px;
}

#rps-game {
  background-image: url("../images/placeholder-6.png");
  background-size: 100%;
  height: 380px;
}

.contact-section {
  padding-bottom: 250px;
}
